<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Twiller</title>
</head>

<body>
  <div id="accountbar">
    <p>
      <% if logged_in? -%>
        Logged in as <%= link_to(h(current_person.login), person_path(current_person)) %> | <%= link_to("Log out", session_path, :method => :delete) %>
      <% else -%>
        <%= link_to("Log in", new_session_path) %> | <%= link_to("Sign up", new_person_path) %>
      <% end -%>
    </p>
  </div>
  <%= standard_flashes %>
  <%= yield %>
</body>
</html>
